{% load static %}
<section id="makna_logo">
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-6 text-center">
      <p class="fw-bold fs-4 ft-ubuntu">Logo</p>
      <img src="{% static 'img/logo_bbihp.png' %}" alt="logo-bbihp" class="" width="300" />
    </div>
    <div class="col-md-6">
      <p class="text-center fw-bold fs-4 ft-ubuntu">Makna Logo</p>
      <div class="bg-set-4 border border-3 border-white p-3">
        <p class="ft-ubuntu fw-bold">Roda 5 Gigi <span class="text-danger">Merah</span></p>
        <ul>
          <li>Roda 5 Gigi melambangkan 5 (lima) asas negara Indonesia dan 5 (lima) nilai inti Kementerian Perindustrian (Insan Oke)</li>
          <li>Warna merah dimaknai sebagai keberanian, kesiapan tekad dan sikap dalam menghadapi perkembangan teknologi dan siap bersaing dalam pergerakannya.</li>
        </ul>
        <p class="ft-ubuntu fw-bold">Daun <span class="text-success">Hijau</span></p>
        <ul>
          <li>Daun dimaknai sebagai kompetensi inti BBIHP, yakni komoditi hasil perkebunan, inovasi teknologi dan pelayanan BBIHP selalu tumbuh dan berkembang.</li>
          <li>Warna hijau dimaknai sebagai komitmen untuk mewujudkan ekosistem industri yang berkelanjutan dan ramah lingkungan.</li>
        </ul>
        <p class="ft-ubuntu fw-bold">Simbol Sinyal <span class="text-primary">Biru</span></p>
        <ul>
          <li>Melambangkan Balai Besar Industri Hasil Perkebunan siap mewujudkan penerapan teknologi 4.0 dengan inovasi IoT dalam mendukung Indonesia menjadi negara industri tangguh dan berkontribusi dalam mendukung riset dan inovasi teknologi hasil perkebunan serta memberikan inovasi pelayanan publik yang mudah diakses dimanapun dan kapanpun</li>
        </ul>
        <p class="ft-ubuntu fw-bold">Lubang Kunci <span class="text-success">Hijau</span></p>
        <ul>
          <li>Tulisan BBIHP adalah singkatan dari <span class="fw-bold">Balai Besar Industri Hasil Perkebunan</span></li>
          <li>Warna biru dimaknai sebagai ketenangan, kehandalan, dan kepercayaan dalam menjalankan tugas.</li>
        </ul>
      </div>
    </div>
   </div>
  <br />
</section>
