{% load static %}
<section id="sejarah">
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <p class="text-center fw-bold fs-4">Sejarah Balai Besar Industri Hasil Perkebunan</p>
    <div class="col-lg-6 col-sm-12 p-3 bg-set-4 border border-3 border-white">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor lacus luctus accumsan tortor posuere ac ut consequat semper. Maecenas sed enim ut sem viverra
        aliquet eget. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sit amet volutpat consequat mauris nunc congue nisi. Mus mauris vitae ultricies leo. Dui sapien eget mi proin. Feugiat scelerisque varius morbi enim nunc. In
        mollis nunc sed id semper risus in hendrerit. A cras semper auctor neque vitae tempus. Dictum non consectetur a erat nam at. Justo laoreet sit amet cursus sit amet dictum.
      </p>
      <p>
        Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Est ultricies integer quis auctor elit. Scelerisque purus semper eget duis at tellus. Blandit massa enim nec dui nunc. Sed libero enim sed faucibus turpis.
        Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Purus non enim praesent elementum. Lorem ipsum dolor sit amet consectetur adipiscing. Cras tincidunt lobortis feugiat vivamus. Eu facilisis sed odio morbi quis commodo
        odio aenean sed. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper.
      </p>
      <p>
        Magna ac placerat vestibulum lectus mauris. Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Vel facilisis volutpat est velit egestas dui id ornare. Odio ut enim blandit volutpat maecenas volutpat blandit. Enim nunc
        faucibus a pellentesque sit amet porttitor. Lobortis scelerisque fermentum dui faucibus in ornare. Vel fringilla est ullamcorper eget. Quis risus sed vulputate odio. Dolor purus non enim praesent elementum facilisis leo. Maecenas
        accumsan lacus vel facilisis volutpat est velit egestas. Eu consequat ac felis donec et odio pellentesque diam. Sapien nec sagittis aliquam malesuada.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 p-3 bg-set-4 border border-3 border-white">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa placerat duis ultricies lacus sed turpis tincidunt. Id porta nibh venenatis cras sed felis eget velit
        aliquet. A scelerisque purus semper eget duis at tellus at urna. Morbi tristique senectus et netus et malesuada fames ac. Ipsum dolor sit amet consectetur adipiscing. Sit amet venenatis urna cursus eget nunc scelerisque. Nam aliquam
        sem et tortor consequat id. Elementum pulvinar etiam non quam lacus. Sed enim ut sem viverra aliquet.
      </p>
      <p>
        At imperdiet dui accumsan sit amet nulla facilisi. Fermentum et sollicitudin ac orci phasellus egestas. Odio ut sem nulla pharetra diam sit amet. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Rhoncus est pellentesque
        elit ullamcorper dignissim cras tincidunt. Habitant morbi tristique senectus et. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Pharetra et ultrices neque ornare. Dignissim cras tincidunt lobortis feugiat vivamus
        at. Eget velit aliquet sagittis id consectetur purus ut.
      </p>
      <p>
        Congue quisque egestas diam in arcu cursus. Rutrum quisque non tellus orci ac auctor. Adipiscing elit duis tristique sollicitudin nibh sit. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Id volutpat lacus laoreet non.
        Quam vulputate dignissim suspendisse in est. Tempus quam pellentesque nec nam aliquam sem et. Lacus sed viverra tellus in hac habitasse platea dictumst. Ut faucibus pulvinar elementum integer enim. Malesuada fames ac turpis egestas
        maecenas pharetra. At risus viverra adipiscing at in tellus integer feugiat scelerisque. Viverra vitae congue eu consequat ac felis donec et odio. Gravida rutrum quisque non tellus. Aliquam sem fringilla ut morbi tincidunt. Eu nisl
        nunc mi ipsum faucibus. Aliquam purus sit amet luctus venenatis. Feugiat nisl pretium fusce id velit ut tortor pretium viverra.
      </p>
    </div>
  </div>
  <br />
</section>
