{% load static %}
<section id="visi-misi">
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <p class="text-center fw-bold fs-4 ft-ubuntu">Visi</p>
      <p class="bg-set-4 border border-3 border-white p-3">"Menjadi lembaga penelitian dan pengembangan dalam bidang industri pengolahan sumber daya alam dan penyedia layanan jasa teknis yang unggul dan terdepan."</p>
    </div>
    <div class="col-md-6">
      <p class="text-center fw-bold fs-4 ft-ubuntu">Misi</p>
      <div class="bg-set-4 border border-3 border-white p-3">
        <ul>
          <li>Meningkatkan kemampuan litbang dan penguasaan teknologi yang berorientasi‚ pada kebutuhan industri</li>
          <li>Meningkatkan pelayanan jasa teknis yang profesional dan terpercaya berorientasi pada kepuasan pelanggan.</li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</section>
