{% load static %}
<section id="visi-misi">
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <p class="text-center fw-bold fs-4 ft-ubuntu">Visi</p>
      <p class="bg-set-4 border border-3 border-white p-3">ante in nibh mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit</p>
    </div>
    <div class="col-md-6">
      <p class="text-center fw-bold fs-4 ft-ubuntu">Misi</p>
      <div class="bg-set-4 border border-3 border-white p-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam alias quaerat dolorum, qui sapiente!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi deserunt accusantium recusandae dolor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti ipsum debitis voluptatibus neque aut quis sint explicabo!</p>
      </div>
    </div>
  </div>
  <br />
</section>
