{% load static %}
<!-- Footer -->
<div class="container-fluid bg-set-2 py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 bbihp-desc">
        <img src="{% static 'home/img/logo_bbihp.png' %}" alt="logo_bbihp" width="150px" />
        <p>BBIHP adalah salah satu unit pelaksana teknis Kementerian Perindustrian RI yang memberikan layanan riset, pengujian, sertifikasi, kalibrasi, konsultasi dan rekayasa mesin industri.</p>
      </div>
      <div class="col-md-3">
        <div class="row contanct-info">
          <h3 class="fw-bold py-1 ft-ubuntu">Kontak Kami</h3>
          <div class="container"><hr class="m-0" /></div>
          <div class="row">
            <div class="col">
              <i class="bi-geo-alt-fill" style="font-size: 1.2rem; color: #081c15"><span class="fs-6 fst-normal"> Abdurrahman Basalamah 28 Makassar - Indonesia</span></i>
            </div>
          </div>
        </div>
        <div class="row">
          <i class="bi-telephone-fill" style="font-size: 1.2rem; color: #081c15"><span class="fs-6 fst-normal"> +62 411 441207</span></i>
        </div>
        <div class="row">
          <i class="bi-envelope-open-fill" style="font-size: 1.2rem; color: #081c15"><span class="fs-6 fst-normal"> bbihp@kemenperin.go.id</span></i>
          <p></p>
        </div>
        <div class="row">
          <i class="bi-clock-fill" style="font-size: 1.2rem; color: #081c15"><span class="fs-6 fst-normal"> Senin - Kamis 07:30 - 16:00</span><span class="fs-6 fst-normal"> Jumat 07:30 - 16.30</span></i>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row smart-services">
          <h3 class="fw-bold py-1 ft-ubuntu">Smart Services</h3>
          <div class="container"><hr class="m-0" /></div>
        </div>
        <div class="row">
          <a href="" class="text-decoration-none link-dark my-2">> Showcase Center</a>
          <a href="" class="text-decoration-none link-dark my-2">> Bigdata Center</a>
          <a href="" class="text-decoration-none link-dark my-2">> Innovation Centre</a>
          <a href="" class="text-decoration-none link-dark my-2">> Delivery Centre</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row informasi-publik">
          <h3 class="fw-bold py-1 ft-ubuntu">Informasi Publik</h3>
          <div class="container"><hr class="m-0" /></div>
        </div>
        <div class="row">
          <a href="" class="text-decoration-none link-dark my-2">> Kegiatan & Kinerja</a>
          <a href="" class="text-decoration-none link-dark my-2">> Data Keuangan</a>
          <a href="" class="text-decoration-none link-dark my-2">> Tarif</a>
          <a href="" class="text-decoration-none link-dark my-2">> Informasi Setiap Saat</a>
          <a href="" class="text-decoration-none link-dark my-2">> Simulasi Tarif</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of footer -->
<!-- Copyright -->
<div class="container-fluid bg-set-3">
  <p class="text-white text-center py-3">© 2021 BBIHP - Balai Besar Industri Hasil Perkebunan</p>
</div>
<!-- End of Copyright -->
