{% load static %}
<!-- Navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light fs-set-nav ft-ubuntu bg-set-1 fixed-top p-0">
    <!-- Navbar Logo -->
    <a class="navbar-brand mx-3" href="{% url 'home:home' %}">
      <img src="{% static 'img/logo_bbihp.png' %}" alt="" width="60" height="" class="d-inline-block pe-1" />
      <img src="{% static 'img/kemenperin_logo.png' %}" alt="" width="120" height="" class="d-inline-block p-0" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link ms-2 active" aria-current="page" href="{% url 'home:home' %}">Beranda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link ms-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Tentang Kami </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'home:profil_bbihp' %}">Profil BBIHP</a></li>
            <li><a class="dropdown-item" href="{% url 'home:profil_pejabat' %}">Profil Pejabat</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link ms-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Informasi Publik </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Kegiatan dan Kinerja</a></li>
            <li><a class="dropdown-item" href="#">Data Keuangan</a></li>
            <li><a class="dropdown-item" href="#">Pelanggang</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link ms-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Layanan </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'home:pengujian' %}">Pengujian</a></li>
            <li><a class="dropdown-item" href="{% url 'home:sertifikasi' %}">Sertifikasi</a></li>
            <li><a class="dropdown-item" href="{% url 'home:konsultasi' %}">Konsultasi Teknologi</a></li>
            <li><a class="dropdown-item" href="{% url 'home:inkubator' %}">Inkubator Bisnis</a></li>
            <li><a class="dropdown-item" href="{% url 'home:kalibrasi' %}">Kalibrasi</a></li>
            <li><a class="dropdown-item" href="{% url 'home:sertifikasi' %}">Produk Halal</a></li>
            <li><a class="dropdown-item" href="{% url 'home:pelatihan' %}">Pelatihan</a></li>
            <li><a class="dropdown-item" href="{% url 'home:kerjasama_riset' %}">Kerjasama Riset</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link ms-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Publikasi </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">e-Jurnal</a></li>
            <li><a class="dropdown-item" href="#">Berita</a></li>
            <li><a class="dropdown-item" href="#">Geleri Kegiatan</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-2" href="#">Kontak Kami</a>
        </li>
<!--        ADMIN MENU, DISABLE NANTI PADA SAAT DEPLOY-->
        <li class="nav-item">
          <a class="nav-link ms-2" href="/admin/">Masuk</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- End nabar -->
