{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md">
      <h4 class="border-start border-5 border-primary ps-2 ft-ubuntu fw-bold">Kerjasama Riset</h4>
      <p>
       Kerjasama Riset ...
      </p>
      <h4 class="border-start border-5 border-secondary ps-2 ft-ubuntu  fw-bold">Syarat</h4>
      <ul>
        <li>Pihak Industri melakukan konsultasi dengan personil Bidang Litbang terkait permasalahan industri</li>
        <li>Mendata hasil konsultasi</li>
        <li>JPelaksanaan Kegiatan dilaksanakan di Industri dan BBIHP sesuai dengan MoU yang telah disepakati</li>
      </ul>
      <h4 class="border-start border-5 border-success ps-2 ft-ubuntu  fw-bold">Jangka Waktu</h4>
      <p>1 (Satu) Periode Penelitian/sesuai dengan jumlah waktu yang telah disepakati</p>
      <h4 class="border-start border-5 border-danger ps-2 ft-ubuntu  fw-bold">Biaya Tarif</h4>
      <p>Sesuai Peraturan Pemerintah RI.No.47 Tahun 2011 tentang Jenis dan Tarif Atas Jenis Penerimaan Negara Bukan Pajak Yang Berlaku Pada Kementerian Perindustrian.</p>
        <!-- <h4 class="border-start border-5 border-warning ps-2 ft-ubuntu fw-bold">Produk Layanan</h4> -->
    </div>
    <div class="col-lg-3 col-md">
      {% include 'layanan/sidebar.html' %}
    </div>
  </div>
</div>
