{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md">
      <h4 class="border-start border-5 border-primary ps-2 ft-ubuntu fw-bold">Konsultasi</h4>
      <p>
        Pelayanan konsultasi BBIHP menyediakan berbagai layanan konsultansi kepada masyarakat umum untuk memecahkan masalah yang dihadapi.  BBIHP menyediakan tenaga-tenaga konsultan terlatih dan profesional dalam menangani dan memberikan saran-saran dalam hal :
      </p>
      <ul>
        {% for konsultasi in jasa_konsul %}
        <li>{{ konsultasi.nama }}</li>
          <ul class="fst-italic text-muted list-unstyled">
              <li>{{ konsultasi.keterangan }}</li>
          </ul>
          {%  endfor %}
      </ul>
        <!-- <h4 class="border-start border-5 border-warning ps-2 ft-ubuntu fw-bold">Produk Layanan</h4> -->
    </div>
    <div class="col-lg-3 col-md">
      {% include 'layanan/sidebar.html' %}
    </div>
  </div>
</div>
