{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md">
      <h4 class="border-start border-5 border-primary ps-2 ft-ubuntu fw-bold">Konsultasi</h4>
      <p>
        Pelayanan konsultasi BBIHP menyediakan berbagai layanan konsultansi kepada masyarakat umum untuk memecahkan masalah yang dihadapi.  BBIHP menyediakan tenaga-tenaga konsultan terlatih dan profesional dalam menangani dan memberikan saran-saran dalam hal :
      </p>
      <ul>
        <li>Teknis teknologis mengenai industri hasil perkebunan (pemecahan masalah teknologi, penganekaragaman produk, perbaikan produksi, pengembangan produk, pendirian usaha, studi kelayakan dan lain-lain);</li>
        <li>Konsultansi/pendampingan penyusunan dan penerapan Sistem Manajemen Laboratorium sesuai  ISO/IEC 17025:2008;</li>
        <li>Konsultansi/penyusunan dan penerapan sistem manajemen lingkungan;</li>
        <li>Konsultansi/penyusunan dan penerapan dokumen UKL/UPL dan AMDAL.</li>
      </ul>
        <!-- <h4 class="border-start border-5 border-warning ps-2 ft-ubuntu fw-bold">Produk Layanan</h4> -->
    </div>
    <div class="col-lg-3 col-md">
      {% include 'layanan/sidebar.html' %}
    </div>
  </div>
</div>
