{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md">
      <h4 class="border-start border-5 border-primary ps-2 ft-ubuntu  fw-bold">Pengujian</h4>
      <p>
        Melalui laboratorium uji yang terakreditasi oleh Komite Akreditasi Nasional sesuai dengan persyaratan standar ISO 17025-2005 dengan Nomor : LP-110-IDN, BBIHP dapat melakukan pengujian mutu bahan baku, bahan pembantu, produk dan
        limbah industri dengan mengacu pada standar Nasional Indonesia atau Standar Internasional lainnya.
      </p>
      <p>Diantara kemampuan pengujian yang dimiliki:</p>
      <ul>
        <li>Pengujian mutu produk makanan diantaranya mie, biskuit, udang beku, minyak goreng, tepung terigu, kecap, kopi bubuk, juice, markisa, sirop, garam konsumsi, dan Air Minum Dalam Kemasan.</li>
        <li>Pengujian mutu produk kimia, diantaranya pupuk dan semen</li>
        <li>Pengujian mutu produk bahan bangunan, diantaranya genteng beton, bata, tegel, marmer, baja lembaran lapis seng, besi beton, kayu lapis, dan balok kayu.</li>
        <li>Pengujian mutu bahan baku hasil pertanian seperti biji kakao, biji kopi, biji jagung, gaplek, jambu mete, kemiri, dan bungkil kopra.</li>
        <li>Analisis limbah (cair, gas, padatan dan B3).</li>
        <li>Pengujian kualitas air permukaan (sungai, danau dan laut).</li>
      </ul>
      <br>
      <h4 class="border-start border-5 border-secondary ps-2 ft-ubuntu  fw-bold">Syarat</h4>
      <ul>
        <li>Pelanggan membawa sampel/contoh uji/produk yang akan diuji</li>
        <li>Pengisian Form Surat Tanda Penerimaan Contoh Penyelesaian administrasi biaya pengujian</li>
      </ul>
      <br>
      <h4 class="border-start border-5 border-success ps-2 ft-ubuntu  fw-bold">Jangka Waktu Penyelesaian</h4>
      <p>Sample di proses selama 14 sampai dengan 33 hari kerja tergantung jenis pengujian, jenis alat, jenis standar, dan sampel yang diujikan</p>
      <br>
      <h4 class="border-start border-5 border-danger ps-2 ft-ubuntu  fw-bold">Biaya Tarif</h4>
      <p>Sesuai Peraturan Pemerintah RI No. 47 Tahun 2011 Tentang Jenis dan Tarif atas Jenis Penerimaan Negara Bukan Pajak yang berlaku pada Kementerian Perindustrian.</p>
      <br>
      <h4 class="border-start border-5 border-warning ps-2 ft-ubuntu  fw-bold">Produk Layanan</h4>
      <p><strong>Sertifikat Hasil Uji</strong> </p>
    </div>
    <div class="col-lg-3 col-md">
      {% include 'layanan/sidebar.html' %}
    </div>
  </div>
</div>
