{% load static %}
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-6 my-auto pt-5" id="navbarMargin">
          <br>
          <br>
          <br>
          <h1 class="display-6 fw-bold ft-ubuntu ">Satu Solusi untuk Industri</h1>
          <p class="fs-4"><span class="fw-bold">Balai Besar Industri Hasil Perkebunan,</span> menyediakan berbagai solusi untuk pertumbuhan dan pengembangan industri di Indonesia.</p>
          <form class="d-flex">
            <a class="btn btn-success" href="#layanan" role="button">Telusuri!</a>
          </form>
        </div>
        <div class="col-lg-6 p-0">
          <img src="{% static 'home/img/Brainstorming session _Two Color.png' %}" alt="one-solution" class="img-fluid rounded float-end" width="600px" />
        </div>
      </div>
    </div>
  </div>