<div class="container my-4">
    <h2 class="display-5 text-center fs-3 fw-bold px-5 ft-ubuntu">Komitmen Kami</h2>
    <p class="text-center mx-5">BBIHP berkomitmen untuk melaksanakan agenda reformasi birokrasi yang diagendakan oleh Kemenpan RB.</p>
    <div class="row mt-3 justify-content-evenly">
        <div class="col col-md-3 col-sm-12">
            <i class="bi bi-globe2" style="font-size: 1.5rem; color: black"><span class="fs-5 fst-normal ms-2 ft-ubuntu fw-bold">Menuju WBBM</span></i>
            <hr>
            <p>BBIHP telah mendapatkan predikat WBK (Wilayah Bebas Korupsi) pada tahun 2018. Sekarang sedang mempersiapkan diri menuju WBBM (Wilayah Birokrasi Bersih Melayani)</p>
        </div>
        <div class="col col-md-3 col-sm-12">
            <i class="bi bi-umbrella" style="font-size: 1.5rem; color: black"><span class="fs-5 fst-normal ms-2 ft-ubuntu fw-bold">Menuju WBBM</span></i>
            <hr>
            <p>Dalam memberikan setiap layanan kepada para stake holdernya, BBIHP telah menerapkan prinsip-prinsip Pelayanan Prima.</p>
        </div>
        <div class="col col-md-3 col-sm-12">
            <i class="bi bi-people" style="font-size: 1.5rem; color: black"><span class="fs-5 fst-normal ms-2 ft-ubuntu fw-bold">Menuju WBBM</span></i>
            <hr>
            <p>Setiap insan BBIHP selalu dituntut untuk memberikan inovasi-inovasi terbaru dalam memberikan pelayanan.</p>
        </div>
    </div>
</div>