{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md">
      <h4 class="border-start border-5 border-primary ps-2 fw-bold">Sertifikasi</h4>
      <p>
        Lembaga sertifikasi produk BBIHP LSPro BBIHP Makassar memberikan layanan sertifikasi bagi kepastian mutu produk dengan mengacu pada Standar Nasional Indonesia (SNI).
      </p>
      <p>Ruang Lingkup Sertifikasi:</p>
      <ul>
        <li>SNI 3551-2012: Mi Instan</li>
        <li>SNI 3553-2015: Air Mineral </li>
        <li>SNI 3553-2015: Air Demineral </li>
        <li>SNI 3556-2016: Garam Konsumsi Beryodium </li>
        <li>SNI 3751-2009: Tepung Terigu Sebagai Bahan Makanan</li>
        <li>SNI 2973-2011: Biskuit</li>
        <li>SNI 3747-2013: Kakao Bubuk</li>
        <li>SNI 3749-2009: Kakao Massa</li>
        <li>SNI 7709:2012: Minyak Goreng Sawit</li>
      </ul>
      <br>
      <h4 class="border-start border-5 border-secondary ps-2 fw-bold">Alur Proses</h4>
      <p>Adapun alur proses penerbitan SPPT SNI dilakukan berdasarkan SK Ka. BPPI No. 247/BPPI/X/2008</p>
      <br>
      <h4 class="border-start border-5 border-warning ps-2 fw-bold">Produk Layanan</h4>
      <p><strong>SPPT SNI</strong></p>
    </div>
    <div class="col-lg-3 col-md">
      {% include 'layanan/sidebar.html' %}
    </div>
  </div>
</div>
